.page6_content {
    display: flex;
    max-width: 100%;
    height: 95vh;
    padding: 20px 60px;
    margin:0 auto;
}

.page6_left {
    width: 50%;
    height: 100%;
    border-right: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.page6_left_box_top{
    padding-right: 10px;
    margin-bottom: 15px;
    height: 45%;
}

.page6_left_top {
    background-color: #FFFAED;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 15.5px;
    line-height: 1.3;
}

.page6_left_box_top.has-ai {
    max-height: 40vh;
    overflow-y: scroll;
    padding-right: 10px;
}

.page6_left_box_top.no-ai {
    max-height: none;
    overflow-y: visible;
}

.page6_left_box_bottom{
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-right: 10px;
}

.page6_left_mid {
    background-color: #f3e5ff;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    margin-bottom: 0px;
    border-radius: 5px;
    font-size: 14.5px;
}

.page6_left_bottom {
    margin-top: 10px;
    /* overflow-y: auto; */
    /* padding-right: 10px; */
    flex: 1;
}

.page6_right {
    height: 100%;
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 0;
}

.page6_left_top p {
    margin-bottom: 8px;
}

.space {
    padding-left: 20px;
}

.row {
    margin-bottom: 10px;
}

.ai-answer-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    font-size: 17px;
    user-select: none;
}

.star-icon {
    width: 17px;
    height: 17px;
    margin-right: 5px;
}

.ai-answer-content {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-flow: row wrap;
    justify-content: space-between;
}

.ai-answer-content-box{
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    background-color: rgba(245, 230, 247, .5);
    margin-bottom: 10px;
}

.ai-answer-content-bottom{
    font-size: 13px;
    border: solid 1px #f5e6f7;
    padding: 8px 10px;
    margin-bottom: 10px;
}

.ai-answer-content-item {
    margin-bottom: 10px;
}

.ai-answer-content-title {
    margin-bottom: 3px;
    margin-top: 5px;
    font-weight: 600;
    font-size: 15px;
    user-select: none;
}

.ai-answer-content-value {
    font-size: 14px;
}

/* Odd and even items */
.ai-answer-content-item:nth-child(odd) {
    width: 28%;
}

.ai-answer-content-item:nth-child(even) {
    width: 70%;
}



.page6_right_top{
    padding: 0px 0px;
    height: 45%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.page6_right_top_text{
    font-size: 17px;
    font-weight: 800;
    margin-bottom: 12px;
    margin-top: 0;
}

.page6_right_title{
    font-size: 17px;
    font-weight: 900;
    margin-bottom: 5px;
}


.page6_right_author{
    font-size: 15px;
    color: #999;
    margin-bottom: 5px;
}

.page6_right_content{
    flex: 1;
    overflow: auto;
    font-size: 15px;
    padding-right: 10px;
}

.page6_right_item{
    display: flex;
    justify-content: space-between;
    padding: 4px 0;
    padding-right: 18px;
    /* border-bottom: 1px solid #ccc; */
}

.page6_right_item:hover{
    background-color: #e9efffd6;
}

.page6_right_bottom{
    margin-top: 5px;
    flex: 1;
    overflow: auto;
    flex: 1;
    position: relative;
    padding-right: 10px;
}

.bg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
}

.page6_right_bottom_title{
    font-size: 17px;
    font-weight: 900;
    margin-top: 9px;
}

.page6_right_bottom_content{
    display: flex;
    justify-content: space-between;
    flex-flow: wrap row;
}

.page6_right_bottom_item{
    margin: 5px 0;
    flex-shrink: 0;
}

/* Odd items */
.page6_right_bottom_item:nth-child(odd){
    width: 28%;
}

/* Even items */
.page6_right_bottom_item:nth-child(even){
    width: 70%;
}


.page6_right_bottom_item_title{
    margin-bottom: 3px;
    margin-top: 5px;
    font-weight: 600;
    font-size: 15px;
}

.page6_right_item_empty{
    height: 20px;
}

.ant-tabs-nav{
    margin-bottom: 0 !important;
}

.ant-tabs-tab{
    padding: 0 !important;
}