.highlight {
    font-weight: bold;
}
.next_btn{
  position: fixed;
  bottom: 20px;
  right: 80px;
}
.instruction{
    background-color: #FFFAED;
    padding: 10px 10px 10px 15px;
    color: rgb(39, 22, 0);
}
.ant-progress{
  height: 12px;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: -8px;
}

.ant-radio-wrapper {
  font-size: 14.5px;
}

.modal_btn{
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

